<?xml version='1.0' encoding='utf-8'?>
<widget id="hu.csagiSmartSolutions" version="1.0.0" versionCode="1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>snode Android App</name>
    <description>
        snode eszközök vezérlése Anrdoid eszközről
    </description>
    <author email="snode@snode.hu" href="http://snode.hu">
        snode | 2018
    </author>
    <preference name="fullscreen" value="true" />
    <preference name="KeepRunning" value="false" />
    <preference name="websecurity" value="false" />
    <plugin name="cordova-plugin-network-information" source="npm" />
    <plugin name="cordova-universal-clipboard" source="npm" />
    <content src="index.html" />
    <engine name="ios" spec="~4.5.5" />
    <engine name="android" spec="~7.0.0" />
    <engine name="browser" spec="^5.0.4" />
    <plugin name="cordova-plugin-zeroconf" source="npm" />
    <plugin name="cordova-plugin-whitelist" source="npm" />
	<plugin name="cordova-plugin-splashscreen" source="npm" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <access origin="*" />
    <icon src="icon.png" />
    	
    <platform name="android">   
		<splash src="res/screen/android/splash.png" />
    </platform>
	<preference name="SplashScreenDelay" value="8000" />
	<preference name="SplashShowOnlyFirstTime" value="false" />
</widget>
