/* jura-300 - latin */
@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 300;
  src: local('Jura Light'), local('Jura-Light'),
       url('jura-v9-latin-300.ttf') format('opentype'), /* Safari, Android, iOS */
}

/* jura-regular - latin */
@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 400;
  src: local('Jura Regular'), local('Jura-Regular'),
       url('jura-v9-latin-regular.ttf') format('opentype'), /* Safari, Android, iOS */
}

/* jura-500 - latin */
@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 500;
  src: local('Jura Medium'), local('Jura-Medium'),
       url('../fonts/jura/jura-v9-latin-500.ttf') format('opentype'), /* Safari, Android, iOS */
}

/* jura-600 - latin */
@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 600;
  src: local('Jura SemiBold'), local('Jura-SemiBold'),
       url('../fonts/jura/jura-v9-latin-600.ttf') format('opentype'), /* Safari, Android, iOS */
}